@import url(nav.css);
@import url('./about.css');

/* Reset defaults */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }


  body {
    background-color: #000;
    background-image: url('/Photos/Stripes.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; 
    color: #fff;
    font-family: "Didot", "Bodoni MT", serif;
    line-height: 1.6;
    max-width: 800px;
    margin: 0 auto;
    padding: 2rem;
    z-index: -1;
  }
  

  h1, h2, h3 {
    color: #fff;
    font-weight: 500;
  }
  
  h1 {
    font-size: 2.5rem;
    margin-bottom: 0.5rem;
  }
  
  h2 {
    font-size: 1.5rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
    margin-left: -5vh;
  }
  
p {
    text-indent: 2rem;
    padding-right: 10vh;
   
  }
 
  
  /* Lists and links */
  ul {
    list-style: none;
    padding-left: 0;
  }
  
  li {
    margin-bottom: 0.8rem;
  }
  
  li a {
    color: #fff;
    text-decoration: none;
    transition: opacity 0.3s;
  }
  
  li a:hover {
    opacity: 0.7;
    text-decoration: underline;
  }
  
  /* Footer */
  footer {
    margin-top: 3rem;
    font-size: 0.9rem;
    color: #777;
    border-top: 1px solid #333;
    padding-top: 1rem;
    text-align: left;
  }

  .post-image{
    width: 50vh;
    height: 50vh;
    margin-left: 10vh;
    margin-top: 3vh;
    margin-bottom: 2vh;
  }

  .about-image{
    width: 35vh;
    height: 42vh;
    margin-left: -15vh;
    margin-top: 3vh;
    margin-bottom: 2vh;
  }

  .SoundLevel-image{
    width: 40vh;
    height: 35vh;
    margin-left: -15vh;
    margin-top: 12vh;
    margin-bottom: 10vh;
  }

  .image-row {
    display: flex;
    justify-content: center; /* centers the two images horizontally */
    align-items: flex-start; /* aligns them by the top edge */
    gap: 20vh;                /* space between the two images */
    margin-top: 2vh;
  }

  .post-image5{
    width: 45vh;
    height: 50vh;
    margin-left: -29.7vh;
    margin-top: 3vh;
    margin-bottom: 2vh;
   
  }
  
  .post-image5-2{
    width: 45vh;
    height: 50vh;
    margin-left: -13vh;
    margin-top: 3vh;
    margin-bottom: 2vh;
  }

  .Index-image{
    width: 30vh;
    height: 40vh;
    margin-left: 15vh;
    margin-top: 3vh;
    margin-bottom: 2vh;
  }
  
  



  
  